
.footer-container{
	
	background-color:rgb(233, 237, 231);
	color:black;
	text-align: center;
	width: 100%;
	height: 35vh;
	
}

.footer--social__text {
	padding-top: 30px;
	padding-bottom: 10px;

}

.footer--social__icons{
	list-style-type: none;
	text-align: center;
}

.footer--social__icons li {
	display: inline-block;

	margin-right: 30px;
}

.footer--social__icons li a {
	text-decoration: none;
}

.footer--social__icons a i {
	display: block;
	width: 40px;
	height: auto;
	border-radius: 50%;
	line-height: 40px;
	background: #000;
	margin-right: 25px;
	color: whitesmoke;
}

.footer--social__icons a i.fa-facebook {
	background-color: #3B5998;
}

.footer--social__icons a i.fa-envelope-o {
	background-color: #DD4B39;
}

.footer--social__icons a i.fa-instagram {
	background-color: #B7242A;
}
